{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/popup.css'%}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	{% block title %}
	<title>Pench</title>
	{% endblock %}
</head>
<body>
	<header>
		{% block past_folder %}
		{% endblock %}
		<a href="/logout/" class="logout">Logout</a>
		<div class="manager">

			<div class="buttons">
				<button type="button" id="newFolderButton">Nova pasta</button>

				{% block buttons %}

				{% endblock %}
			</div>

			<div class="popup-wrapper">
				<div class="popup">
					<div class="popup-close">X</div>
					<div class="popup-content">
							{% csrf_token %}

							<div>
								<input type="text" maxlength="50" required placeholder="Nome" id="name" name="name">
							</div>

							<input type="submit" value="Salvar" class="submit">

						<script type="text/javascript">
							$('#name').on('keypress', (e)=> {
								if (e.which == 13) {
									$('.submit').trigger('click')
								}
							})

							$('.submit').on('click', ()=> {
								if ($('#name').val() == '') {
									alert('Insira o nome da pasta')

									return
								}

								$.ajax({
									url: '/createFolder/{% block location %}0{% endblock %}',
									type: 'POST',
									data: {
										'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
										'name': $('#name').val()
									},
									success: (response)=> {
										const temp = '<a class="folder" href="/folder/' + response.folder[0].id + '">' + '\n' +
											'<h2>' + response.folder[0].name + '</h2>' + '\n' +
											'</a>'

										$('.h2folder').css('display', 'none')
										$('.folders-content').append(temp)

										popupClose(true)
									}
								})
							})
						</script>
					</div>
				</div>
			</div>

			<script>
				$('#newFolderButton').on('click', popupOpen)
				$('.popup-wrapper').on('click', ()=> {popupClose(false)})

				function popupOpen () {
					$('.popup-wrapper').css('display', 'block')

				}

				function popupClose (enterPress) {
					if (enterPress) {
						$('.popup-wrapper').css('display', 'none')
						clearInputs()

						return
					}

					const classOfClikedElement = event.target.classList[0]
					const classNames = ['popup-close', 'popup-wrapper', 'submit']

					const shouldClosePopup = classNames.some(className => className == classOfClikedElement)

					if (shouldClosePopup) {
						$('.popup-wrapper').css('display', 'none')
						clearInputs()
					}
				}

				function clearInputs () {
					$('#name').val(null)
					$('#description').val(null)
				}
			</script>
		</div>
	</header>

	<main>
		<div class="folders">
			<h1>Pastas</h1>

			<div class="folders-content">
				{% if folders %}

				{% for folder in folders %}
				<a class="folder" href="/folder/{{folder.id}}">
					<h2>{{folder.name}}</h2>
				</a>
				{% endfor %}

				{% else %}
				<h2 class="h2folder">Não há pastas aqui</h2>
				{% endif %}
			</div>
		</div>

		{% block files%}

		{% endblock %}
	</main>
</body>
</html>